<header class="page-header">
  <div class="header-flex-wrapper">
     <span class="logo-container">logo</span>
    <label for="main-menu-toggle" class="main-menu-label">
      <span>menu</span>
    </label>
  </div>
  <input type="checkbox" id="main-menu-toggle" class="main-menu-checkbox">

  <nav>
    <ul role="list" class="">
      <li class="site-nav-li">
        <a href="/">home</a>
      </li>
      <li class="site-nav-li">
        <a href="/philosophy/">philosophy</a>
      </li>
      <li class="site-nav-li">
        <a href="/lessons/">lessons</a>
      </li>
      <li class="site-nav-li">
        <a href="/tutorials/">tutorials</a>
      </li>
      <li class="site-nav-li">
        <a href="/blog/">blog</a>
      </li>
    </ul>
  </nav>
</header>