<header class="page-header">
  <div class="header-flex-wrapper">
    <svg class="logo-svg">
        <use href="#logo"></use>
    </svg>
    <label for="main-menu-toggle" class="main-menu-label">
      <svg class="violin-svg">
        <use href="#violin"></use>
      </svg>
      <svg class="bow-svg">
        <use href="#bow"></use>
      </svg>
      <span>menu</span>
    </label>
  </div>
  <nav id="main-nav">
    <ul role="list" class="main-nav-list">
      <li class="site-nav-li" >
        <a href="/">home</a>
      </li>
      <li class="site-nav-li">
        <a href="/philosophy/">philosophy</a>
      </li>
      <li class="site-nav-li">
        <a href="/lessons/">lessons</a>
      </li>
      <li class="site-nav-li">
        <a href="/tutorials/">tutorials</a>
      </li>
      <li class="site-nav-li">
        <a href="/blog/">blog</a>
      </li>
    </ul>
  </nav>
</header>