---
layout: "layouts/base.njk"
---

{% include "partials/article.njk" %}

{% set prev = collections.tutorials | getPreviousCollectionItem %}
{% set next = collections.tutorials | getNextCollectionItem %}
    
{% include "partials/next-previous.njk" %}