---
layout: 'layouts/base.njk'
---

<article class="main-article">
    <div class="">
        <h1 class="article-title">
            {{ title }}
        </h1>
        <figure class="">
            <img src="{{ image }}" alt="{{ imageAlt }}">
            <figcaption>
                {{ imageAlt }}
            </figcaption>
        </figure>
    </div>
    {{ content | safe }}
</article>