/* Contact */

.contact-form {
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.contact-form-child {
    display: flex;
    flex-direction: column;
}

.btn-primary.contact-form-child {
    border: none;
    align-self: flex-start;
}