:root {
  --fs-body-mobile: 18px;
  --fs-body-desktop: 21px;
  --fs-heading: 32px;

  --ff-body: "IM Fell Double Pica", sans-serif;
  --ff-heading: "Archivo Black", sans-serif;

  --clr-text-primary: #000;
  --clr-accent: green;
}

/* //////////////////////
    RESET - source: https://piccalil.li/blog/a-modern-css-reset
    /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* || MOBILE LAYOUT */
body {
  background-image: url("../assets/img/bg.svg");
  background-repeat: repeat;
  font-family: var(--ff-body);
  font-size: var(--fs-body-mobile);
  padding: 1em;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
}

.header-flex-wrapper {
  display: flex;
  justify-content: space-between;
}

nav {
  height: 0px;
  overflow: hidden;
  transition-property: height;
  transition-duration:.3s;
}

nav.open {
  height: calc(5 * 1.5em);
}

.main-menu-label {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.logo-svg {
  height: 100px;
  width: 150px;
}

.violin-svg {
  width: 150px;
  height: 50px;
  transition: transform;
  transition-duration: .3s;
}

.bow-svg {
  width: 150px;
  height: 25px;
  transition: transform;
  transition-duration: .3s;
}

.violin-svg.open {
  transform: rotate(30deg);
}

.bow-svg.open {
  transform: rotate(-45deg) translateX(40px) translateY(-10px)
}

.main-menu-label > span {
  text-align: center;
}

.site-nav-li a {
  text-decoration: none;
  color: var(--clr-text-primary);
}

li.current-page-li {
  border: 2px solid red;
}



main {
  grid-area: main;
  overflow-y: scroll;
}

h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
}

footer {
  text-align: center;
}
/* || UTILITIES */

.display-none {
  display: none !important;
}

.visually-hidden {
  height: 0px;
  width: 0px;
  overflow: hidden;
}