:root {
  --fs-body: 18px;
  --fs-heading: 40px;
  --fs-subheading: 28px;
  --fs-secondary: 16px;

  --ff-heading: "IM Fell Double Pica", sans-serif;
  --ff-body: "IM Fell Double Pica", sans-serif;

  --clr-text-primary: #151515;
  --clr-accent: green;
}

/* //////////////////////
    RESET - source: https://piccalil.li/blog/a-modern-css-reset
    /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* || MOBILE STYLES */
body {
  background-image: url("../assets/img/bg.svg");
  background-repeat: repeat;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  padding: 1.5em 1.5em 0 1.5em;
  display: flex;
  flex-direction: column;
}

#skip-to-main {
  color: var(--clr-text-primary);
  position: absolute;
  top: -1.8em;
  left: 50%;
  translate: -50%;
  transition: top 0.2s ease-in-out; /* adjust this value to change the duration of the slide animation */
}

#skip-to-main:focus {
  top: 5px;
  transition-delay: 0s;
}

#skip-to-main:not(:focus) {
  transition-delay: 1s; /* adjust this value to change the delay */
}
/* Header */
#hidden-checkbox {
  display: none;
}

.main-nav {
  font-family: var(--ff-heading);
  font-size: 1.3em;
}

.header-flex-wrapper {
  display: flex;
  justify-content: space-between;
}

nav {
  height: 0px;
  overflow: hidden;
  transition-property: height;
  transition-duration: 0.3s;
  line-height: 40px;
}

input[name="hidden-checkbox"]:checked ~ .main-nav {
  height: calc(5 * 40px);
}

.logo-svg {
  height: 100px;
  width: 150px;
}

.main-menu-btn {
  display: flex;
  flex-direction: column;
  height: 100px;
  background: transparent;
  border: none;
  text-align: center;
}

.violin-svg {
  width: 150px;
  height: 50px;
  transition: transform;
  transition-duration: 0.3s;
}

.bow-svg {
  width: 150px;
  height: 25px;
  transition: transform;
  transition-duration: 0.3s;
}

input[name="hidden-checkbox"]:checked ~ .header-flex-wrapper .violin-svg {
  transform: rotate(30deg);
}

input[name="hidden-checkbox"]:checked ~ .header-flex-wrapper .bow-svg {
  transform: rotate(-45deg) translate(38px, -10px);
}

.main-nav-list {
  text-align: center;
}

.main-nav-list a {
  text-decoration: none;
  color: var(--clr-text-primary);
}

[aria-current] {
  font-weight: bolder;
}

[aria-current]::before {
  content: "||:  "
}

[aria-current]::after {
  content: "  :||";
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

footer {
  font-size: var(--fs-secondary);
  text-align: center;
}

@media screen and (min-width: 75ch) {
  header,
  main {
    width: 100%;
    max-width: 75ch;
    /* need width set to get nav flexbox to behave */
    align-self: center;
  }

  .header-flex-wrapper {
    justify-content: flex-start;
  }

  .main-menu-btn span {
    display: none;
  }

  .bow-svg {
    transform: translate(-40px, -30px) rotate(-65deg) !important;
  }

  .violin-svg {
    transform: translate(-17px, 10px) rotate(60deg) !important;
  }

  nav {
    height: unset !important;
  }

  .main-nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1400px) {
  header {
    max-width: 150ch;
    display: flex;
    align-items: center;
  }

  main {
    max-width: 150ch;
  }

  .main-nav-list {
    gap: 4em;
  }
}

/* || UTILITIES */

.display-none {
  display: none !important;
}

.visually-hidden {
  height: 0px;
  width: 0px;
  overflow: hidden;
}
