---
title: DSVS | Contact
layout: 'layouts/base.njk'
eleventyNavigation:
    key: contact
---
  <h1>Contact Me</h1>
  <p>Please use the form below to get in touch with me. I'll do my best to get back to you as soon as possible.</p>
  <form name="contact" method="POST" data-netlify="true">
    <input type="hidden" name="form-name" value="contact">

    <div class="input-container">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
    </div>

    <div class="input-container">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>

    <div class="input-container">
      <label for="subject">Subject:</label>
      <input type="text" id="subject" name="subject" required>
    </div>

    <div class="input-container">
      <label for="message">Message:</label><br>
      <textarea id="message" name="message" rows="5" cols="30" required></textarea>
    </div>

    <div class="input-container">
      <input type="submit" value="Submit">
    </div>
  </form>