---
title: DSVS | Home
layout: 'layouts/base.njk'
---
<section>
  <h1>Welcome to Drew Sarette's Violin Studio!</h1>
  <p>Drew is a professional violinist and teacher with 10+ years experience working with students of all ages, experience levels, and backgrounds. He holds a master's degree in violin performance and pedagogy from the University of Louisville, and has completed Suzuki teacher training. He is passionate about showing students how to become their own teacher, and become lifelong musicians!</p>
  <a href="/about/me/">read more...</a>
</section>
<section>
  <h2>Teaching Style</h2>
  <p>Drew believes the teacher’s role is to guide and accompany the student on a journey of discovery, developing a
  positive life-long relationship with music through the violin. Based on the Suzuki method and twenty years of
  traditional training, Drew uses demonstrations, stories, games, and graded repertoire to get students to experience and
  internalize beautiful tone, healthy motion patterns, and fluent instrumental technique.</p>
  <a href="/about/philosophy">read more...</a>
</section>
<section>
  <h2>Services Offered</h2>
  <ul>
    <li>Private lessons for all ages and levels</li>
    <li>Sectionals for school orchestras</li>
    <li>Coaching for auditions</li>
  </ul>
</section>
<section>
  <h2>Testimonials</h2>
  <blockquote>
    <p>"Drew is an incredibly patient and supportive teacher who helped me achieve my goal of playing in a local orchestra.
      He helped me work through my technical challenges and provided valuable insights into the interpretation of the music. I
      would highly recommend him to anyone looking for a violin teacher!"</p>
    <cite>
      - John, adult student</cite>
  </blockquote>
  <blockquote>
    <p>"Drew has been an amazing teacher for my daughter. He is patient, encouraging, and makes learning the violin fun. My
      daughter has made tremendous progress under Drew's guidance and we couldn't be happier!"</p>
    <cite>
      - Sarah, parent of student</cite>
  </blockquote>
</section>