---
title: DSVS | Home
layout: 'layouts/base.njk'
stylesheet: 'css/index.css'
---

<section>
  <h1>Welcome to Drew Sarette's Violin Studio!</h1>
  <p>Drew is a professional violinist and teacher with 10+ years experience working with students of all ages, experience
    levels, and backgrounds. He holds a master's degree in violin performance and pedagogy from the University of
    Louisville, and has completed Suzuki teacher training. He is passionate about showing students how to become their own
    teacher, and become lifelong musicians!
    <a href="/lessons/about-me/">Read my full bio</a>
  </p>
  <vimeo-embed vimeoId="489896501"></vimeo-embed>
</section>
<section>
  <h2>Services Offered</h2>
  <div class="services-flex">
    <ul>
      <li>Private lessons for all ages and levels</li>
      <li>In-person, virtual, and hybrid options</li>
      <li>Sectionals for school orchestras</li>
      <li>Coaching for auditions</li>
    </ul>
    <a title="Lessons sign-up" href="/lessons/" class="btn-primary">Sign up now!</a>
  </div>
</section>
<section>
  <h2>Testimonials</h2>
  <div class="row-flex">
    <blockquote class="testimonial">
      <p>"Drew is an incredibly patient and supportive teacher who helped me achieve my goal of playing in a local orchestra.
        He helped me work through my technical challenges and provided valuable insights into the interpretation of the music. I
        would highly recommend him to anyone looking for a violin teacher!"</p>
      <cite>
        - John, adult student</cite>
    </blockquote>
    <blockquote class="testimonial">
      <p>"Drew has been an amazing teacher for my daughter. He is patient, encouraging, and makes learning the violin fun. My
        daughter has made tremendous progress under Drew's guidance and we couldn't be happier!"</p>
      <cite>
        - Sarah, parent of student</cite>
    </blockquote>
    <blockquote class="testimonial">
      <p>"Drew is an incredibly patient and supportive teacher who helped me achieve my goal of playing in a local orchestra.
        He helped me work through my technical challenges and provided valuable insights into the interpretation of the music. I
        would highly recommend him to anyone looking for a violin teacher!"</p>
      <cite>
        - John, adult student</cite>
    </blockquote>
    <blockquote class="testimonial">
      <p>"Drew has been an amazing teacher for my daughter. He is patient, encouraging, and makes learning the violin fun. My
        daughter has made tremendous progress under Drew's guidance and we couldn't be happier!"</p>
      <cite>
        - Sarah, parent of student</cite>
    </blockquote>
  </div>
</section>