---
title: DS Violin Studio | tutorials
layout: 'base.njk'
---
<h1>This is from tutorials.njk</h1>

{# <div class="section container">
  <h1 class="section-title">Most recent</h1>
  <ul role="list" class="articles__list flow">
    {%- for post in collections.post | reverse -%}
      {% include "article-snippet.njk" %}
    {%- endfor -%}
  </ul>
</div> #}