<article data-pagefind-body class="main-article">
    <header class="article-header">
        <h1 class="article-title">
            {{ title }}
        </h1>
        <p>posted on {{ date | postDate }}</p>
    </header>
    {% if vimeoId %}
        {{ vimeoId | vimeoEmbed(page.title) | safe }}
    {% elseif image %}
        <figure class="article-figure">
            <img class="article-main-img" src="{{ image }}" alt="{{ imageAlt }}">
                <figcaption>
                    {{ imageAlt }}
                </figcaption>
            </figure>
        {% endif %}
        {% if pdf %}
            <a href="{{ pdf }}" class="download-link" download>Download PDF</a>
        {% endif %}
        {{ content | safe }}
    </article>