<header class="page-header">
  <input type="checkbox" name="hidden-checkbox" id="hidden-checkbox">
  <div class="header-flex-wrapper">
    <a href="/" tabindex="-1"><svg class="logo-svg">
      <use href="#logo"></use>
    </svg></a>
    <label for="hidden-checkbox" class="main-menu-btn" role="button">
      <svg class="violin-svg">
        <use href="#violin"></use>
      </svg>
      <svg class="bow-svg">
        <use href="#bow"></use>
      </svg>
      <span>menu</span>
    </label>
  </div>
  {% include "partials/nav.njk" %}
</header>