{% set navigationOptions = {
  listClass: "main-nav-list",
  listItemClass: "site-nav-li"
} %}
<nav class="main-nav">
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | highlightCurrentPage(page.url) | safe }}
</nav>