<nav class="main-nav">
    <ul role="list" class="main-nav-list">
        <li>
            <a href="/" {% if "/" == page.url %}aria-current='page'{% endif %}>home</a>
        </li>
        <li>
            <a href="/lessons/" {% if "/lessons/" in page.url %}aria-current='page'{% endif %}>lessons</a>
        </li>
        <li>
            <a href="/tutorials/" {% if "/tutorials/" in page.url %}aria-current='page'{% endif %}>tutorials</a>
        </li>
        <li>
            <a href="/blog/" {% if "/blog/" in page.url %}aria-current='page'{% endif %}>blog</a>
        </li>
        <li>
            <a href="/contact/" {% if "/contact/" == page.url %}aria-current='page'{% endif %}>contact</a>
        </li>
    </ul>
</nav>