    <nav class="secondary-nav" aria-label="Select next or previous entry">
        <ol role="list" class="secondary-nav-list">
            {% if prev %}
                <li class="secondary-nav-item"><a class="secondary-nav-link" href="{{ prev.url }}">previous</a></li>
            {% endif %}
            {% if next %}
                <li class="secondary-nav-item"><a class="secondary-nav-link" href="{{ next.url }}">next</a></li>
            {% endif %}
        </ol>
    </nav>